html,
body {
    padding: 0;
    margin: 0;
}

:root {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --blue: #1da1f2;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}


/* HELPER STYLES START 
======================
*/

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.flex-grow {
    flex-grow: 1;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex.align-start {
    align-items: flex-start;
}

.flex.justify-start {
    justify-content: flex-start;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.justify-evenly {
    justify-content: space-evenly;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-around {
    justify-content: space-around;
}


/* HELPER STYLES END 
======================
*/

.content {
    display: grid;
    grid-template-columns: 20% 1fr 30%;
    grid-template-areas: "side-nav main-content trends";
    column-gap: 1rem;
    margin: 0 auto;
    height: 100%;
    width: 92vw;
}

.side-nav {
    display: flex;
    flex-direction: column;
    padding: .2rem 0;
    grid-area: side-nav;
    position: fixed;
    height: 100%;
    width: 20%;
    overflow-y: auto;
}

.side-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: .8rem;
    padding: .6rem 1rem;
    border-radius: 30px;
    color: black;
    width: max-content;
    padding-right: 1.8rem;
}

.side-nav img[alt="twitter-logo"] {
    width: 35px;
    height: 35px;
}

.side-nav a:first-child {
    width: max-content;
    height: max-content;
    padding: .7rem;
    border-radius: 50%;
    margin-bottom: .4rem;
}

.side-nav a .home {
    color: var(--blue);
}

.side-nav a:not(:last-of-type) span {
    margin-left: 1.5rem;
    font-size: 1.27rem;
    font-weight: 700;
}

.side-nav a:hover {
    color: var(--blue);
    background: #e6f2fa;
}

.side-nav .text {
    margin-left: .4rem;
}

.side-nav .text .name {
    color: black;
    font-weight: 700;
}

.side-nav a:last-of-type {
    justify-content: space-between;
    width: 95%;
    padding-right: .5rem;
    margin-top: 1.6rem;
}

.side-nav a:last-of-type:hover {
    color: black
}

.side-nav .tweet {
    color: black;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: var(--blue);
    padding: 1.1rem 0;
    width: 85%;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.side-nav .tweet:hover {
    background-color: #107cc0;
    transition: ease-in-out .5s;
}

.side-nav .icon {
    position: relative;
}

.side-nav .icon .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -.6rem;
    right: 0;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 20px;
    color: #fff;
    background: var(--blue);
    font-size: small;
}

.side-nav a img[alt="profile-pix"] {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #E6ECF0;
}

.side-nav .text {
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
}

.content .main-content {
    --grey: #E6ECF0;
    --black: #14171a;
    grid-area: main-content;
    border: 1px solid var(--grey);
    border-top: none;
    border-bottom: none;
    margin: 0 1rem 0 .5rem;
}

.main-content .header {
    height: 58px;
    background: #fff;
    cursor: pointer;
    padding: 0 .8rem;
    border-bottom: 1px solid var(--grey);
}

.header span {
    color: var(--black);
    font-weight: 800;
    font-size: 1.27rem;
}

.header .img-container {
    width: max-content;
    height: max-content;
    padding: .5rem .6rem;
    border-radius: 50%;
}

.header .img-container:hover {
    background-color: #e6f2fa;
}

.main-content .user-tweet {
    padding: .6rem .8rem;
    height: 25vh;
    border-bottom: 10px solid #E6ECF0;
}

.main-content .user-tweet .profile-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--grey);
    cursor: pointer;
}

.main-content .user-tweet .profile-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.main-content .user-tweet .profile-container:hover {
    background: var(--grey);
}

.post-tweet-button .icons .icon {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    padding: .6rem;
    margin-right: .2rem;
    border-radius: 50%;
}

.icons .icon:hover {
    background: #e6f2fa;
}

.tweet-input textarea {
    resize: none;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    /* padding: 0 1rem; */
    font-weight: 400;
    border: none;
    outline: none;
    font-size: 1.27rem;
    color: #9197A3;
}

.tweet-input .post-tweet-button {
    height: 40%;
    padding: 1rem 0;
}

.post-tweet-button button {
    color: black;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #8ED0F8;
    padding: .8rem 0;
    width: 16%;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}

.main-content .friend-post {
    padding: .6rem .8rem;
    padding-bottom: 0;
    height: fit-content;
    width: 100%;
    border-bottom: 1px solid var(--grey);
}

.main-content .friend-post:hover {
    background: #F5F8FA;
    cursor: pointer;
}

.friend-post img[alt='friend-img'] {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.friend-post .post-content {
    margin-left: 1.2rem;
    height: 100%;
}

.friend-post .post-content {
    margin-left: .5rem;
}

.friend-post .post-content p {
    margin: 0;
    padding: 0;
    margin-bottom: .5rem;
}

.friend-post .friend-name {
    color: #14171a;
    font-weight: 700;
}

.friend-post .color-dim {
    color: #9197A3;
    margin-left: .3rem;
}

.friend-post .images-wrapper {
    flex-grow: 1;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey);
    height: 50vh;
}

.friend-post .actions {
    padding: .8rem 0;
}

.actions span {
    margin-right: 1.2rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friend-post .cfc {
    color: var(--blue);
    text-decoration: none;
}

.friend-post .cfc:hover {
    text-decoration: underline;
}

.actions span+span {
    margin-left: 5rem;
}

.actions span:hover {
    background-color: rgba(203, 220, 224, .5)
}

.friend-post .images-wrapper .image-text {
    padding: .8rem;
}

.images-wrapper .image-text div {
    margin-bottom: .2rem;
}

.friend-post .image-text div img {
    margin-right: .3rem;
    width: 30px;
    height: 30px;
}

.friend-post .images {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
    grid-gap: .1rem;
}

.friend-post .images img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: top;
}

.friend-post .images img[alt="image3"] {
    border-bottom-left-radius: 15px;
}

.friend-post .images img[alt="image4"] {
    border-bottom-right-radius: 15px;
}

.content .trends-container {
    grid-area: trends;
    padding: .5rem .3rem .5rem 0;
    --border: .5px solid #E6ECF0;
}

.trends-container .search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    position: fixed;
    width: 27.6%;
    top: 0;
    padding: .5rem 0;
    z-index: 5;
    margin-bottom: 1rem;
}

.trends-container .search-box {
    background-color: #E6ECF0;
    width: 100%;
    display: flex;
    border-radius: 30px;
    padding: .5rem 1rem;
}

.search-box input {
    border: none;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 1rem;
    color: #14171a;
    padding: .2rem 0;
    background-color: #E6ECF0;
}

.search-box input:focus {
    outline: none;
}

.trends-container .trends {
    border-radius: 15px;
    background-color: #F5F8FA;
    padding: .5rem 0;
    width: 100%;
    margin: 3.5rem 0 1rem;
    border: none;
}

header {
    color: black;
    padding: .5rem 1rem;
    font-weight: 800;
    font-size: 1.27rem;
    border-bottom: var(--border);
}

.trends a:not(:last-of-type) {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #727D86;
    font-weight: 400;
    font-size: .87rem;
    border-bottom: var(--border);
    padding: .6rem 1rem;
}

.trends a .texts {
    display: flex;
    flex-direction: column;
}

.trends a .name {
    color: black;
    margin: .5rem 0 .8rem;
    font-weight: 700;
    font-size: 1rem;
}

.trends a:last-of-type {
    text-decoration: none;
    display: flex;
}

.trends-container .show-more {
    color: var(--blue);
    padding: .6rem 1rem;
    margin: .3rem 0;
}

.trends a img[alt="arrow-down"] {
    align-self: flex-start;
}

.trends a:hover,
.follow-suggestions .option:hover {
    background-color: #E6ECF0;
    cursor: pointer;
}

.trends-container .follow-suggestions {
    border-radius: 15px;
    background-color: #F5F8FA;
    padding: .5rem 0;
    width: 100%;
    margin-bottom: 1rem;
}

.follow-suggestions .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #727D86;
    font-weight: 400;
    font-size: .87rem;
    border-bottom: var(--border);
    padding: .7rem 1rem;
}

.follow-suggestions .option .user-info {
    display: flex;
    align-items: center;
}

.follow-suggestions .option .info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    font-size: 1rem;
    margin-left: .8rem;
}

.info-text a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: .1rem;
}

.info-text a:hover {
    text-decoration: underline black;
}

.option .follow {
    background: #fff;
    color: var(--blue);
    padding: .4rem 0;
    width: 25%;
    border: 1px solid var(--blue);
    border-radius: 30px;
    outline: none;
    font-weight: 700;
    font-size: 1rem;
}

.option .follow:hover {
    cursor: pointer;
    background: #e0ebf0;
}

.follow-suggestions .option img[alt="profile-pic"] {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.follow-suggestions .option-show {
    display: flex;
}

footer {
    padding: .6rem 1rem;
}

footer .links a {
    text-decoration: none;
    margin-right: 1rem;
    color: #727D86;
    font-size: .87rem;
    font-weight: 400;
}

footer .links a:hover {
    text-decoration: underline #727D86;
}

footer span {
    cursor: pointer;
    color: #727D86;
    font-size: .87rem;
    font-weight: 400;
    margin-top: .5rem;
}